table{
    background-color:rgb(255, 255, 255)
     }
 @media all and (min-width: 768px) {
  tr  {
    td {
      vertical-align: middle !important;
    }
    span {
      &:not([class]) {
        padding: 1rem 1rem;
      }
    }
  }
}

.btn.btn-no-highlight {
    outline: none !important;
}
 