<div class="modal-header">
    <h4 class="modal-title">Link Budget MCS</h4>
    <button type="button" class="close btn-sm" aria-label="Close" (click)="hideModalFunction()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <!-- <div class="card">
        <div class=" card-body"> -->
    <div id="table" class="table-editable" style="overflow-x:auto;">
        <table class=" table table-bordered table-responsive-xl table-striped">
            <thead class=" thead-light">
                <tr>
                    <th colspan="33" class="text-left"><span>Link Budget MCS</span>
                    </th>
                </tr>
                <th>#</th>
                <th *ngFor="let header of headerArr; let i = index">{{header}}</th>
                <th class="text-center">Unit</th>
                <th class="text-center">Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let row of LinkBudgetMcsList; let i = index">
                    <!-- <td>
                            <span>{{i+1}}</span>
                        </td> -->
                    <td *ngFor="let objKey of _object.keys(row); let j = index">
                        <span (keyup)=" changeValue(i, objKey , $event)" (blur)="updateList(i, objKey, $event)"
                            contenteditable="true">{{ row[objKey] }}</span>
                    </td>

                    <!-- Buttons -->
                    <td class="form-inline">
                        <!-- <span style="float: left;">
                                    <button type="button" class="btn btn-danger  btn-sm"
                                        (click)="deleteLinkBudgetMcs(row.id)">Remove</button>
                                </span> -->
                        <span style="float: right;">
                            <button type="button" class="btn btn-success  btn-sm"
                                (click)="updateLinkBudgetMcs(row)">save</button>
                        </span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- </div>
    </div> -->

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="hideModalFunction()">Close</button>
</div>